version: "3.9"

services:
  emailteste:
    image: gabrieloliveirabarbosa/emailteste:latest
    container_name: emailteste-api
    expose:
      - "3000"
    environment:
      ASPNETCORE_URLS: http://+:3000
      ASPNETCORE_ENVIRONMENT: Development        # ← desativa HTTPS redirect
      ASPNETCORE_HTTPS_PORT: ""                  # ← limpa porta HTTPS
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - emailteste
    networks:
      - app-network

networks:
  app-network:
    driver: bridge