version: "3.9"

services:
  emailteste:
    image: gabrieloliveirabarbosa/emailteste:latest
    container_name: emailteste-api
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_URLS: http://+:8080
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - emailteste
    networks:
      - app-network