version: "3.9"

services:
  emailteste:
    image: gabrieloliveirabarbosa/emailteste:latest
    container_name: emailteste-api
    expose:
      - "8080"
    environment:
      ASPNETCORE_URLS: http://+:8080
    networks:
      - app-network
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx
    depends_on:
      - emailteste
    networks:
      - app-network
networks:
  app-network:
    driver: bridge